image: docker:24.0.5

services:
  - name: docker:24.0.5-dind
    command: ["--tls=false"]

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://docker:2375

stages:
  - build
  - deploy

build:
  stage: build
  before_script:
    - echo "Logging into GitLab Container Registry..."
    - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin "$CI_REGISTRY"
  script:
    - docker build --build-arg FIREBASE_PROJECT_ID="$FIREBASE_PROJECT_ID" --build-arg FIREBASE_CLIENT_EMAIL="$FIREBASE_CLIENT_EMAIL" --build-arg FIREBASE_PRIVATE_KEY="$FIREBASE_PRIVATE_KEY" -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" -t "$CI_REGISTRY_IMAGE:latest" .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
    - docker push "$CI_REGISTRY_IMAGE:latest"
  only:
    - main



deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$EC2_SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts
  script:
    - ssh ubuntu@"$EC2_HOST" "IMAGE=$CI_REGISTRY_IMAGE:latest bash ~/deploy-devjourney.sh"
  environment:
    name: production
    url: http://$EC2_HOST
  only:
    - main
